<div class="appraisal_form">
<%= form_with(model: car_detail, multipart: true) do |form| %>
<div class="main_div max-w-[800px] mx-auto my-5 shadow-xl p-5">
   <div class="logo_main">
      <img src="<%= asset_path("logo_black.png")%>" class="w-[120px] m-auto">
   </div>
   <div class="main_header font-extrabold w-fit ml-auto mr-auto  mt-[50px] text-[#3c3838]">
      <h2 class="border-none pl-0 font-bold text-3xl"><%= params[:action] == "edit" ? "Edit Car Detail" : "Add a new Car" %></h2>
   </div>
   <div class="form_main_div w-full max-w-full mt-[40px]">
      <h6 class="font-black">Please fill out the following information:</h6>
      <form class="vehicle_appraisel_form mt-[10px]">

          <%= form.hidden_field :deal_type, id: "deal_type" %>


            <div class="d-flex form_group checkbox-group mb-4 mt-[30px] max-w-full w-full gap-5 hiden_class">
               <div class="flex items-center  new-checkbox checkBoxblock">
                  <button class="new_button"> New </button>
                  <input <%= car_detail&.deal_type == "new" ? "checked" : '' %> id="new" type="checkbox" value="new" class="car_detail_deal_check w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="new" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">New</label>
               </div>
               <div class="flex items-center hot-checkbox checkBoxblock" >
                  <button class="hot_button"> Hot Deal </button>
                  <input <%= car_detail&.deal_type == "hot" ? "checked" : '' %> id="hot" type="checkbox" value="hot" class="car_detail_deal_check w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="hot-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Hot Deal</label>
               </div>
               <div class="flex items-center drop-checkbox checkBoxblock">
                  <button class="drop_button"> Drop Price </button>
                  <input <%= car_detail&.deal_type == "drop" ? "checked" : '' %> id="drop" type="checkbox" value="drop" class="car_detail_deal_check w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                  <label for="drop" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Drop Price</label>
               </div>
            </div>

            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Seller Name<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :seller_name,placeholder: "Enter Seller Name", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:seller_name) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Seller Name is required</div>
               <% end %>
            </div>
        
            <div class="form_group mb-4 mt-[11px] max-w-full w-full">


               <label class="text-slate-600 font-bold">
               Year<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :year,placeholder: "Enter Year", class: "block rounded-md outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:year) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Year is required</div>
               <% end %>
            </div>

             <div class="form_group mb-4 mt-[11px] max-w-full w-full hidden">
               <label class="text-slate-600 font-bold">
               Body Type<span class="text-red-500">*</span>
               </label>
                <%= form.select :body_type, ["Compact", "Convertible", "Coupe","Crossover","Pickup","Sedan","SUV","Wagon"], class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>

               <% if car_detail.errors.has_key?(:body_type) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Body Type is required</div>
               <% end %>
            </div>


            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Make<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :make,placeholder: "Enter Make", class: "block rounded-md outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:year) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Year is required</div>
               <% end %>
            </div>
         
        
            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Model<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :model,placeholder: "Enter Model", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:model) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Model is required</div>
               <% end %>
            </div>

            

            <div class="form_group mb-4 mt-[11px] max-w-full w-full hidden">
               <label class="text-slate-600 font-bold">
               Drivetrain<span class="text-red-500">*</span>
               </label>
                <%= form.select :drivetrain, ["AWD/4WD", "Front Wheel Drive", "Rear Wheel Drive"], class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>

               <% if car_detail.errors.has_key?(:drivetrain) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Drivetrain is required</div>
               <% end %>
            </div>

            <div class="form_group mb-4 mt-[11px] max-w-full w-full hidden">
               <label class="text-slate-600 font-bold">
               Transmission<span class="text-red-500">*</span>
               </label>
                <%= form.select :transmission, ["Automatic", "Manual"], class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>

               <% if car_detail.errors.has_key?(:transmission) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Transmission is required</div>
               <% end %>
            </div>


            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Fuel Type<span class="text-red-500">*</span>
               </label>
                              <%= form.select :fuel_type, ["Gasoline", "Diesel", "Electricity"], class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>

               <% if car_detail.errors.has_key?(:fuel_type) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Fuel Type is required</div>
               <% end %>
            </div>


            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Trim<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :trim,placeholder: "Enter Trim", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:trim) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Trim is required</div>
               <% end %>
            </div>
         
        
            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Mileage<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :mileage, placeholder: "Enter Mileage", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:mileage) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Mileage is required</div>
               <% end %>
            </div>
            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Zip Code<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :zip_code, placeholder: "Enter Zip Code", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:zip_code) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Zipcode is required</div>
               <% end %>
            </div>
        


         
            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Commission<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :commission, placeholder: "Enter commission", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:mmr) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">MMR is required</div>
               <% end %>
            </div>

            

            <div class="price_wraper market_value">
               <h2>Retail Market Value </h2>
               <div class="form_group mb-4 mt-[11px] max-w-full w-full">
                  
                  <%= form.text_field :market_min_price, placeholder: "Enter price", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
                  <% if car_detail.errors.has_key?(:market_max_price) %>
                  <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Min is required</div>
                  <% end %>
                </div>

               

            </div>


            <div class="price_wraper price_range">
               <h2>Asking price </h2>
               <div class="form_group mb-4 mt-[11px] max-w-full w-full">
                 
                  <%= form.text_field :low, placeholder: "Enter price", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
                  <% if car_detail.errors.has_key?(:low) %>
                  <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Min is required</div>
                  <% end %>
               </div>

               
            </div>




      
        

           <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Vin#<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :vin, placeholder: "Enter vin", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:vin) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">VIN is required</div>
               <% end %>
            </div>
            


            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
               Color<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :color, placeholder: "Enter Color", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:color) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Color is required</div>
               <% end %>
            </div>
        

        
            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
                Vehicle Condition <span class="text-red-500">*</span>
               </label>
               <%= form.select :vehicle_condition, ["Clean", "Minor damage", "Damage", "Accident", "Salvage"], class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:vehicle_condition) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Vehicle Condition is required</div>
               <% end %>
            </div>

            <div class="form_group mb-4 mt-[11px] max-w-full w-full hidden">
               <label class="text-slate-600 font-bold">
                  Asking price<span class="text-red-500">*</span>
               </label>
               <%= form.text_field :asking_price, placeholder: "Enter Asking Price", class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:asking_price) %>
                  <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Asking price is required</div>
               <% end %>
            </div>

            <div class="form_group mb-4 mt-[11px] max-w-full w-full">
               <label class="text-slate-600 font-bold">
                Title Status <span class="text-red-500">*</span>
               </label>
               <%= form.select :title_status, ["Paid off", "Financed", "Leased"], class: "block rounded-md border-0 outline-none px-3 py-2 mt-2 w-full" %>
               <% if car_detail.errors.has_key?(:title_status) %>
               <div class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">Title Status is required</div>
               <% end %>
            </div>
        

             


        <div class="flex gap-[15px] align-items-end mt-[20px]">
          <div class="upload_files_main w-full">
              <div class="max-w-full">
                <label for="file_upload" id="drop_zone" class="flex justify-center w-full h-32 px-4 transition bg-white border-2 border-gray-300 border-dashed rounded-md appearance-none cursor-pointer hover:border-gray-400 focus:outline-none"> <span class="flex items-center space-x-2 flex-col justify-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-[26px] text-black" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                  </svg>
                  <span class="font-medium text-gray-600 mt-2 ml-0">
                  Drop Images to Attach, or
                  <span class="text-blue-900 text-capitalize underline">browse</span> </span>
                  </span>
                  <input type="file" name="car_detail[images][]" id="file_upload" class="hidden" multiple="true" accept="image/png, image/gif, image/jpeg"> </label>
              </div>
          </div>
        </div>
        
          <div class="form_group mb-4 mt-[11px]">
  
                <%= form.submit "Submit", class: "group relative h-12 w-48 overflow-hidden rounded-lg bg-blue-500 text-white text-lg shadow relative text-white font-bold opacity-1 bg-[#0080ff]" %>
              
          </div>
      </form>
      </div>
      <div class="sponsers_comapnies mt-[40px] hidden">
         <div class="row1 flex justify-between gap-3 align-content-center">
            <div class="w-[33.33%] flex-auto border-[1px] border-slate-200 rounded flex align-items-center p-2 justify-center">
               <img src="<%= asset_path("deallerTrackLogo.jpeg")%>" class="max-w-[120px] w-full">
            </div>
            <div class="w-[33.33%] flex-auto border-[1px] border-slate-200 rounded flex align-items-center p-2 justify-center">
               <img src="<%= asset_path("autoNationLogo.jpeg")%>" class="max-w-[120px] w-full">
            </div>
            <div class="w-[33.33%] flex-auto border-[1px] border-slate-200 rounded flex align-items-center p-2 justify-center">
               <img src="<%= asset_path("edmundsLogo.jpeg")%>" class="max-w-[120px] w-full">
            </div>
            <div class="w-[33.33%] flex-auto border-[1px] border-slate-200 rounded flex align-items-center p-2 justify-center">
               <img src="<%= asset_path("autoTraderLogo.jpeg")%>" class="max-w-[120px] w-full">
            </div>
            <div class="w-[33.33%] flex-auto border-[1px] border-slate-200 rounded flex align-items-center p-2 justify-center">
               <img src="<%= asset_path("ManheimLogo.jpeg")%>" class="max-w-[120px] w-full">
            </div>
            <div class="w-[33.33%] flex-auto border-[1px] border-slate-200 rounded flex align-items-center p-2 justify-center">
               <img src="<%= asset_path("kbb_logo.png")%>" class="max-w-[120px] w-full ">
            </div>
         </div>
      </div>
   </div>
   <% end %>
</div>
<style>
   form :where(input, select) {
   height: 36.5px;
   box-shadow: none !important; */
   } 
</style>
<script>


   $(".car_detail_deal_check").on('click', function() {
      var $box = $(this);

      $('#deal_type').val($box.attr('id'))
      if ($box.is(":checked")) { 
         $(".car_detail_deal_check").prop("checked", false);
         $box.prop("checked", true);
      } else {
         $box.prop("checked", false);
      }
   });



    function carAttchmentModal() {
        document.getElementById('car_attachement_modal').classList.toggle('hidden')
    }
    // Get the drop zone element
    var dropZone = document.getElementById('drop_zone');
    // Get the file input element
    var fileInput = document.getElementById('file_upload');
    // Add event listeners for drag and drop
    dropZone.addEventListener('dragover', handleDragOver, false);
    dropZone.addEventListener('dragleave', handleDragLeave, false);
    dropZone.addEventListener('drop', handleDrop, false);
    // Add event listener for manual file selection
    fileInput.addEventListener('change', handleFileSelect, false);

    function handleDragOver(event) {
        event.preventDefault();
        dropZone.classList.add('border-blue-600');
    }

    function handleDragLeave(event) {
        event.preventDefault();
        dropZone.classList.remove('border-blue-600');
    }

    function handleDrop(event) {
        event.preventDefault();
        dropZone.classList.remove('border-blue-600');
        // Get the dropped files
        var files = event.dataTransfer.files;
        // Update the label text with the number of files dropped
        if (files.length === 1) {
            dropZone.querySelector('span').innerHTML = '1 file attached';
        }
        else {
            dropZone.querySelector('span').innerHTML = files.length + ' files attached';
        }
        // Add the files to the input element
        fileInput.files = files;
    }

    function handleFileSelect(event) {
        // Get the selected files
        var files = event.target.files;
        // Update the label text with the number of files selected
        if (files.length === 1) {
            dropZone.querySelector('span').innerHTML = '1 file attached';
        }
        else {
            dropZone.querySelector('span').innerHTML = files.length + ' files attached';
        }
    }
</script>