<% increase_view @car_detail %>
<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie ie9" lang="en-US">
<![endif]-->
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="Car Dealer Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Acropos - Car Dealer HTML5 Template</title>
	<script nonce="undefined" src="https://cdn.zingchart.com/zingchart.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>


	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<style>
		@media (max-width: 767px) {
			.preloader {
				display: none;
			}
		}

		.chart--container {
			min-height: 530px;
			width: 100%;
			height: 100%;
		}

		.zc-ref {
			display: none;
		}
	</style>
</head>

<body>


	<div id="search">
		<button type="button" class="close">×</button>
		<form>
			<input type="search" value="" placeholder="type keyword(s) here" />
			<button type="submit" class="primary-button"><a href="#">Search <i class="fa fa-search"></i></a></button>
		</form>
	</div>

	<header class="site-header wow fadeIn" data-wow-duration="1s">
		<div id="main-header" class="main-header">
			<div class="container clearfix">
				<div class="inner_div row">
				<div class="col-md-12">
					<a href="/">
						<div class="logo">					
						</div>
					</a>
				</div>
				<div class="sub_heading_header1 col-md-12"><h3 class="subheading">Pre-Negotiated Leads</h3></div>
			</div>
			
			</div>

		</div>
	</header>

  

	<div class="recent-car single-car wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">



	 <script src="https://cdn.tailwindcss.com"></script>

 <% if notice.present? %>
  <div class="rounded-md bg-green-50 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: mini/check-circle -->
      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium text-green-800"><%= notice %></p>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button type="button" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
          <span class="sr-only">Dismiss</span>
          <!-- Heroicon name: mini/x-mark -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="rounded-md bg-green-50 p-2 custom_notification hidden max-w-[1000px] mx-auto">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: mini/check-circle -->
      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium text-green-800 mb-0">Record updated successfully</p>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button type="button" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
          <span class="sr-only">Dismiss</span>
          <!-- Heroicon name: mini/x-mark -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>


		<div class="container">
			<div class="row d-none">
				<div class="col-sm-6">
					<button class="customnutton primary-button" id="back_buton">Back</button>
				</div>
				<div class="col-sm-6">
					<button class="customnutton customnutton_right primary-button" id="print">Print</button>
				</div>
			</div>
			<div class="recent-car-content mt-3">
				<div class="row">
					<div class="col-md-6">
						<div id="single-car" class="slider-pro more_then_one  <%= @car_detail&.images&.length === 1 ? 'oneImageSlide' : '' %>">
							<div class="sp-slides">
                              <% @car_detail&.images&.each do |image|%>
									<div class="sp-slide">
										<img class="sp-image" src="<%= rails_blob_path(image, only_path: true) %>" alt="" />
									</div>

								<% end %>
								
								
							</div>
							<div class="added_commission_value <%= @car_detail.commission.present? ? '' : 'hidden' %>">
								<%= @car_detail.commission %>

								</div>
							<% if @car_detail&.images&.length > 1 %>
								<div class="sp-thumbnails">
									<% @car_detail&.images&.each do |image|%>
										<img class="sp-thumbnail" src="<%= rails_blob_path(image, only_path: true) %>" alt="" />
									<% end %>
								</div>
							<% end %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="car-details">
						<div class="top-section">
							<h4><%= "#{@car_detail.year} #{@car_detail.make} #{@car_detail.model} #{@car_detail.trim}" %></h4>
							<button class="type_deal <%= @car_detail&.deal_type != nil ? @car_detail&.deal_type : 'hidden_class'  %>"> <%= @car_detail&.deal_type == "new" ? "NEW" : @car_detail&.deal_type == "hot" ? "HOT DEAL" : @car_detail&.deal_type == "drop" ? "Drop Price" : '' %> </button> 
						</div>
							<div class="container">
								<div class="row">
									<ul class="car-info col-md-6">
										<li><i class=""><img src="/assets/logo_exterior_color.png" alt="" /></i>
											<p><%= @car_detail.color %></p>
										</li>
										

										<li><i class=""><img src="/assets/logo_mileage.png" alt="" /></i>
											<p><%= @car_detail.mileage %> miles</p>
										</li>
										<li><i class=""><img src="/assets/logo_fuel-type.png" alt="" /></i>
											<p><%= @car_detail.fuel_type %></p>
										</li>
										<li class="vin_number"><i class="">VIN#</i>
											<p><%= @car_detail.vin %></p>
										</li>
										<li><i class="fa-solid fa-user fa-2xl single_car_user_icon"></i>
											<p><%= @car_detail.seller_name %></p>
										</li>
										

										<li><i class="" style="display:none"></i>
											<div class="similar-info">
												<div class="primary-button">
													<a class="contact_seller_button text-color-white text-white" onclick="showPriceInqoffer()"> Make An Offer </a>
												</div>
							              </div>
										</li>
										

									</ul>
									<ul class="car-info col-md-6">
										
										<li><i class=""><img src="/assets/logo_vehicle_condition.png"
													alt="" /></i>
											<p><%= @car_detail.vehicle_condition %></p>
										</li>
										<li><i class=""><img src="/assets/logo_title_status.png" alt="" /></i>
											<p><%= @car_detail.title_status %></p>
										</li>
										
										<li><i class=""><img src="/assets/logo_zip_code.png" alt="" /></i>
											<p><%= @car_detail.zip_code %></p>
										</li>
										<li>
											<i class="">
											</i>
											<p></p>
										</li>
										<li>
											<i class="">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 122.88 83.78" style="enable-background:new 0 0 122.88 83.78;width: 20px;height: 20px;" xml:space="preserve"><g><path d="M95.73,10.81c10.53,7.09,19.6,17.37,26.48,29.86l0.67,1.22l-0.67,1.21c-6.88,12.49-15.96,22.77-26.48,29.86 C85.46,79.88,73.8,83.78,61.44,83.78c-12.36,0-24.02-3.9-34.28-10.81C16.62,65.87,7.55,55.59,0.67,43.1L0,41.89l0.67-1.22 c6.88-12.49,15.95-22.77,26.48-29.86C37.42,3.9,49.08,0,61.44,0C73.8,0,85.45,3.9,95.73,10.81L95.73,10.81z M60.79,22.17l4.08,0.39 c-1.45,2.18-2.31,4.82-2.31,7.67c0,7.48,5.86,13.54,13.1,13.54c2.32,0,4.5-0.62,6.39-1.72c0.03,0.47,0.05,0.94,0.05,1.42 c0,11.77-9.54,21.31-21.31,21.31c-11.77,0-21.31-9.54-21.31-21.31C39.48,31.71,49.02,22.17,60.79,22.17L60.79,22.17L60.79,22.17z M109,41.89c-5.5-9.66-12.61-17.6-20.79-23.11c-8.05-5.42-17.15-8.48-26.77-8.48c-9.61,0-18.71,3.06-26.76,8.48 c-8.18,5.51-15.29,13.45-20.8,23.11c5.5,9.66,12.62,17.6,20.8,23.1c8.05,5.42,17.15,8.48,26.76,8.48c9.62,0,18.71-3.06,26.77-8.48 C96.39,59.49,103.5,51.55,109,41.89L109,41.89z"/></g></svg>
											</i>
											<p><%= @car_detail.views %></p>
										</li>
										<li><i class="" style="display:none"></i>
											<div class="similar-info">
												<div class="primary-button">
													<a class="contact_seller_button text-color-white text-white" onclick="showPriceInq()">Contact Seller</a>
												</div>
							              </div>
										</li>

										
									</ul>
								</div>
							</div>
							<div class="image_section_above">
									

									<div class="post-market-val right-section">
										<div class="pmv_rate"> 
											Retail Market Value <span>&#174;</span>							

										</div>
										<div class="range"> 
											<span class="price"><%= @car_detail&.market_min_price %> </span>
											
										</div>
									 </div>


									<div class="price_range-val right-section">
										<div class="pmv_rate"> Asking Price</div>
										
										<div class="range"> <span class="price"> <%= @car_detail&.low %> </span></div>
									</div>

							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<section class="pt-0 holder_canvas">
		<div class="recent-car similar-car wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<div class="recent-car-content">
					<div class="row">
						<div class="col-md-12">
							<div class="section-heading">


								<div id='myChart' class="chart--container"><a class="zc-ref" href="#">
										<div class="text-content">
											<h2>Meter Charts</h2>
										</div>
									</a></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-item">
						<div class="about-us">
							
							
							<div class="content_footer">
								<p>For any inquiries on our Marketing Services or Vehicles for sale, please contact us at Hello@PostYourCars.com</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="sub-footer">
						<p>Copyright 2023. All rights reserved by: <a href="#">Post</a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" id="asking_model" aria-modal="true">
			<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

			<div class="fixed inset-0 z-10 overflow-y-auto">
				<div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
				<div class="asking_price_modal_body_container">
					<form action="/send_offer_mail_request/<%= @car_detail&.id %>" method="get">
						<div class="modal_body_top">
							<div class="body_wrapper">
								<div class="form_main">
								<h3 class="label_main" id="modal-title">Contact Seller</h3>

								<%# <div class="desc_main">
									<p class="desc">You want to Accept this Asking price</p>
								</div> %>
								
								<div class="body_form">
									<div class="form_control">
										<input required type="text" name="dealership_name" class="counter_price p-[10px]" placeholder="Dealership Name"><span class="text-[#ba1010bf]">*</span>
									</div>
									<div class="form_control">
										<input required type="text" name="name" class="counter_price p-[10px]" placeholder="Name"><span class="text-[#ba1010bf]">*</span>
									</div>
									<div class="form_control">
										<input required type="text" name="contact_num" class="counter_price p-[10px]" placeholder="Contact Number"><span class="text-[#ba1010bf]">*</span>
									</div>
									<div class="form_control">
										<input required type="text" name="email" class="counter_price p-[10px]" placeholder="Email"><span class="opacity-0">*</span>
									</div>
									<%# <div class="form_control">
										<input type="text" name="asking_price" class="counter_price p-[10px]" placeholder="Enter asking price"><span class="opacity-0">*</span>
									</div> %>
								</div>
								</div>
							</div>
							</div>
							<div class="modal_body_footer">
							<button type="submit" class="submit_action">Submit</button>

							<button type="button" class="close_counter_offer" onclick="closePriceInq()">Cancel</button>
						</div>
					</form>
				</div>
				</div>
			</div>
		</div>











		<div class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" id="offer_model" aria-modal="true">
			<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

			<div class="fixed inset-0 z-10 overflow-y-auto">
				<div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
				<div class="asking_price_modal_body_container">
					<form action="/send_offer_mail_request_offer/<%= @car_detail&.id %>" method="get">
						<div class="modal_body_top">
							<div class="body_wrapper">
								<div class="form_main">
								<h3 class="label_main" id="modal-title">Send Offer</h3>

								<%# <div class="desc_main">
									<p class="desc">You want to Accept this Asking price</p>
								</div> %>
								
								<div class="body_form">
									<div class="form_control">
										<input required type="text" name="dealership_name" class="counter_price p-[10px]" placeholder="Dealership Name"><span class="text-[#ba1010bf]">*</span>
									</div>
									<div class="form_control">
										<input required type="text" name="name" class="counter_price p-[10px]" placeholder="Name"><span class="text-[#ba1010bf]">*</span>
									</div>
									<div class="form_control">
										<input required type="text" name="contact_num" class="counter_price p-[10px]" placeholder="Contact Number"><span class="text-[#ba1010bf]">*</span>
									</div>
									<div class="form_control">
										<input required type="text" name="email" class="counter_price p-[10px]" placeholder="Email"><span class="opacity-0">*</span>
									</div>
									<div class="form_control">
										<input required type="text" name="offer_price" class="counter_price p-[10px]" placeholder="Enter offer price"><span class="opacity-0">*</span>
									</div>
								</div>
								</div>
							</div>
							</div>
							<div class="modal_body_footer">
							<button type="submit" class="submit_action">Submit</button>

							<button type="button" class="close_counter_offer" onclick="closePriceInq()">Cancel</button>
						</div>
					</form>
				</div>
				</div>
			</div>
		</div>


	</footer>


	<script>

	

	function showPriceInqoffer(){
			$("#offer_model").removeClass("hidden")
		}

		function showPriceInq(){
			$("#asking_model").removeClass("hidden")
		}

		function closePriceInq(){
			$("#asking_model").addClass("hidden")
						$("#offer_model").addClass("hidden")

		}

		ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
		

		let chartConfig = {
			type: 'gauge',
			globals: {
				fontSize: '25px',
			},
			plot: {
				tooltip: {
					borderRadius: '5px',
				},
			
				size: '100%',
			},
			plotarea: {
				marginTop: '80px',
			},
			scaleR: {
				aperture: 180,
				center: {
					visible: false,
				},
				item: {
					offsetR: 0,
					rules: [{
						offsetX: '15px',
						rule: '%i == 9',
					},],
				},
				labels: ['Low','','','',  'Good','','','',  'Best'],
				maxValue: 850,
				minValue: 150,
				ring: {
					rules: [{
						backgroundColor: '#9dc3e7',
						rule: '%v <= 200',
					},
					{
						backgroundColor: '#4472c7',
						rule: '%v > 200 && %v < 700',
					},
					{
						backgroundColor: '#1f4e78',
						rule: '%v >= 700',
					},
					],
					size: '50px',
				},
				// step: 50,
				tick: {
					visible: false,
				},
			},
			
			series: [{
				// values: ["<%= @car_detail.pointer.to_i %>"], // starting value
				values: [400], // starting value
                backgroundColor: '#009688',

			
			},],
		};

		zingchart.render({
			id: 'myChart',
			data: chartConfig,
			height: '100%',
			width: '100%',
		});
	</script>
</body>

</html>

<style>
	.asking_price_modal_body_container {
		padding: 35px 30px;
		background-color: #fff;
		max-width: 400px;
		text-align: left;
		display: inline-block;
		width: 100%;
		font-family: "Lato", sans-serif !important;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		box-shadow: 0 6px 15px #00000029;
		border-radius: 10px;
	}

	.asking_price_modal_body_container .modal_body_top h3#modal-title {
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 10px;
		font-family: "Lato", sans-serif !important;
		color: #000;
	}

	.asking_price_modal_body_container .body_wrapper p.desc {
		font-size: 18px;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: 30px;
		font-family: "Lato", sans-serif !important;
	}

	.asking_price_modal_body_container .body_form {
		border: 1px solid #0095ff00;
		color: #000;
		display: flex;
		align-items: center;
		flex-flow: column;
		width: 100%;
		padding: 6px 20px 6px 12px;
		gap: 5px;
		text-align: left;
		outline: 0;
		border-radius: 6px;
		font-size: 15px;
		font-weight: 300;
		transition: all 0.3s ease;
		margin-bottom: 14px;
		line-height: 1.5;
		overflow: visible;
		margin: 0;
	}

	.asking_price_modal_body_container input#asking_price_model_val {
		height: fit-content;
		padding: 0;
		width: inherit;
		border: 0;
		background-color: #F7F7F7;
	}

	.asking_price_modal_body_container button.submit_action {
		display: inline-block;
		background: #2959ad;
		padding: 10px 20px;
		text-align: center;
		letter-spacing: 0.5px;
		font-size: 14px;
		font-weight: 600;
		border-radius: 5px;
		text-transform: uppercase;
		color: #fff;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.asking_price_modal_body_container .modal_body_footer {
		margin-top: 15px;
		display: flex;
		gap: 15px;
		flex-direction: column;
	}

	.asking_price_modal_body_container button.close_counter_offer {
		background-color: #000000f0;
		color: #fff;
		width: 100%;
		box-shadow: 0 0 0 #50b6ff4f;
		border-radius: 6px;
		border: 0;
		padding: 6px 28px;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
		cursor: pointer;
		margin: 0;
		font-family: "Lato", sans-serif !important;
		padding: 10px 20px;
	}

	.form_control {
		display: flex;
		gap: 2px;
		align-items: start;
		width: 100%;
	}
</style>