<!DOCTYPE html>
<!--[if IE 9]>
<html class="ie ie9" lang="en-US">
<![endif]-->
<html lang="en-US">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
	<meta name="author" content="Car Dealer Template">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Acropos - Car Dealer HTML5 Template</title>
	<script nonce="undefined" src="https://cdn.zingchart.com/zingchart.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- Slider Pro Css -->
	<link rel="stylesheet" href="assets/css/sliderPro.css">
	<!-- Owl Carousel Css -->
	<link rel="stylesheet" href="assets/css/owl-carousel.css">
	<!-- Flat Icons Css -->
	<link rel="stylesheet" href="assets/css/flaticon.css">
	<!-- Animated Css -->
	<link rel="stylesheet" href="assets/css/animated.css">


	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<style>
		@media (max-width: 767px) {
			.preloader {
				display: none;
			}
		}

		.chart--container {
			min-height: 530px;
			width: 100%;
			height: 100%;
		}

		.zc-ref {
			display: none;
		}
	</style>
</head>

<body>



	<div class="preloader">
		<div class="preloader-bounce">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<div id="search">
		<button type="button" class="close">×</button>
		<form>
			<input type="search" value="" placeholder="type keyword(s) here" />
			<button type="submit" class="primary-button"><a href="#">Search <i class="fa fa-search"></i></a></button>
		</form>
	</div>

	<header class="site-header wow fadeIn" data-wow-duration="1s">
		<div id="main-header" class="main-header">
			<div class="container clearfix">
				<div class="logo">
					<a href="index.html"></a>
				</div>
				<div id='cssmenu'>
					<ul>
						<li><a href='index.html'>Homepage</a></li>
						<li class='active'><a href='#'>Car Listing</a>
							<ul>
								<li><a href='#'>Sidebar</a>
									<ul>
										<li><a href='car_listing_sidebar.html'>Car Listing</a></li>
										<li><a href='car_grid_sidebar.html'>Car Grid</a></li>
									</ul>
								</li>
								<li><a href='#'>No Sidebar</a>
									<ul>
										<li><a href='car_listing_no_sidebar.html'>Car Listing</a></li>
										<li><a href='car_grid_no_sidebar.html'>Car Grid</a></li>
									</ul>
								</li>
								<li><a href="single_car.html">Single Car</a></li>
							</ul>
						</li>
						<li class='active'><a href='#'>Blog</a>
							<ul>
								<li><a href='#'>Sidebar</a>
									<ul>
										<li><a href='blog_listing_sidebar.html'>Blog Classic</a></li>
										<li><a href='blog_grid_sidebar.html'>Blog Grid</a></li>
									</ul>
								</li>
								<li><a href='#'>No Sidebar</a>
									<ul>
										<li><a href='blog_listing_no_sidebar.html'>Blog Classic</a></li>
										<li><a href='blog_grid_no_sidebar.html'>Blog Grid</a></li>
									</ul>
								</li>
								<li><a href="single_post.html">Single Post</a></li>
							</ul>
						</li>
						<li><a href='about_us.html'>About Us</a></li>
						<li><a href='contact_us.html'>Contact Us</a></li>
						<li>
							<a href="#search"><i class="fa fa-search"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>

  

	<div class="recent-car single-car wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">



	 <script src="https://cdn.tailwindcss.com"></script>

 <% if notice.present? %>
  <div class="rounded-md bg-green-50 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: mini/check-circle -->
      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium text-green-800"><%= notice %></p>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button type="button" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
          <span class="sr-only">Dismiss</span>
          <!-- Heroicon name: mini/x-mark -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>

<% end %>

<div class="rounded-md bg-green-50 p-2 custom_notification hidden max-w-[1000px] mx-auto">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: mini/check-circle -->
      <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium text-green-800 mb-0">Record updated successfully</p>
    </div>
    <div class="ml-auto pl-3">
      <div class="-mx-1.5 -my-1.5">
        <button type="button" class="inline-flex rounded-md bg-green-50 p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2 focus:ring-offset-green-50">
          <span class="sr-only">Dismiss</span>
          <!-- Heroicon name: mini/x-mark -->
          <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>


		<div class="container">
			<div class="row d-none">
				<div class="col-sm-6">
					<button class="customnutton primary-button" id="back_buton">Back</button>
				</div>
				<div class="col-sm-6">
					<button class="customnutton customnutton_right primary-button" id="print">Print</button>
				</div>
			</div>
			<div class="recent-car-content mt-3">
				<div class="row">
					<div class="col-md-6">
						<div id="single-car" class="slider-pro <%= @car_detail&.images&.length === 1 ? 'oneImageSlide' : '' %>">
							<div class="sp-slides">
                              <% @car_detail&.images&.each do |image|%>
									<div class="sp-slide">
										<img class="sp-image" src="<%= rails_blob_path(image, only_path: true) %>" alt="" />
									</div>

								<% end %>
							</div>

							<% if @car_detail&.images&.length > 1 %>
								<div class="sp-thumbnails">
									<% @car_detail&.images&.each do |image|%>
										<img class="sp-thumbnail" src="<%= rails_blob_path(image, only_path: true) %>" alt="" />
									<% end %>
								</div>
							<% end %>
						</div>
					</div>
					<div class="col-md-6">
						<div class="car-details">
						<div class="top-section">
							<h4><%= "#{@car_detail.year} #{@car_detail.make} #{@car_detail.model} #{@car_detail.trim}" %></h4>
							<button class="type_deal <%= @car_detail&.deal_type != nil ? @car_detail&.deal_type : 'hidden_class'  %>"> <%= @car_detail&.deal_type == "new" ? "NEW" : @car_detail&.deal_type == "hot" ? "HOT DEAL" : @car_detail&.deal_type == "drop" ? "Drop Price" : '' %> </button> 
						</div>
							<div class="container">
								<div class="row">
									<ul class="car-info col-md-6">
										<li><i class=""><img src="/assets/logo_exterior_color.png" alt="" /></i>
											<p><%= @car_detail.color %></p>
										</li>
										

										<li><i class=""><img src="/assets/logo_mileage.png" alt="" /></i>
											<p><%= @car_detail.mileage %> miles</p>
										</li>
										<li><i class=""><img src="/assets/logo_fuel-type.png" alt="" /></i>
											<p><%= @car_detail.fuel_type %></p>
										</li>
										<li class="vin_number"><i class="">VIN#</i>
											<p><%= @car_detail.vin %></p>
										</li>
									</ul>
									<ul class="car-info col-md-6">
										
										<li><i class=""><img src="/assets/logo_vehicle_condition.png"
													alt="" /></i>
											<p><%= @car_detail.vehicle_condition %></p>
										</li>
										<li><i class=""><img src="/assets/logo_title_status.png" alt="" /></i>
											<p><%= @car_detail.title_status %></p>
										</li>
										
										<li><i class=""><img src="/assets/logo_zip_code.png" alt="" /></i>
											<p><%= @car_detail.zip_code %></p>
										</li>
									</ul>
								</div>
							</div>
							<div class="image_section_above">
									

									<div class="post-market-val right-section">
										<div class="pmv_rate"> 
											Post Market Value <span>&#174;</span>							

										</div>
										<div class="range"> 
											<span class="price"> $<%= number_with_delimiter(@car_detail&.market_min_price.to_i) %> </span>
											~ 
											<span class="price"> $
											<%= number_with_delimiter(@car_detail&.market_max_price.to_i) %> </span>
										</div>
									 </div>


									<div class="price_range-val right-section">
										<div class="pmv_rate"> Pre-Negotiated Price Range</div>
										
										<div class="range"> <span class="price"> $<%= number_with_delimiter(@car_detail&.low.to_i) %> </span> ~ <span class="price"> $ <%= number_with_delimiter(@car_detail&.best.to_i) %> </span></div>
									</div>

							</div>
							<div class="similar-info">
								<div class="primary-button">
									<a class="text-color-white text-white" onclick="showPriceInq()">Contact Seller</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<section class="pt-0 holder_canvas">
		<div class="recent-car similar-car wow fadeIn" data-wow-duration="1s">
			<div class="container">
				<div class="recent-car-content">
					<div class="row">
						<div class="col-md-12">
							<div class="section-heading">


								<div id='myChart' class="chart--container"><a class="zc-ref" href="#">
										<div class="text-content">
											<h2>Meter Charts</h2>
										</div>
									</a></div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="footer-item">
						<div class="about-us">
							
							
							<div class="content_footer">
								<p>For any inquiries on our Marketing Services or Vehicles for sale, please contact us at Hello@PostYourCars.com</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="sub-footer">
						<p>Copyright 2023. All rights reserved by: <a href="#">Post</a></p>
					</div>
				</div>
			</div>
		</div>

		<div class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" id="asking_model" aria-modal="true">
			<div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

			<div class="fixed inset-0 z-10 overflow-y-auto">
				<div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
				<div class="asking_price_modal_body_container">
					<form action="/send_offer_mail_request/<%= @car_detail&.id %>" method="get">
						<div class="modal_body_top">
							<div class="body_wrapper">
								<div class="form_main">
								<h3 class="label_main" id="modal-title">Contact Seller</h3>

								<%# <div class="desc_main">
									<p class="desc">You want to Accept this Asking price</p>
								</div> %>
								
								<div class="body_form">
									<div class="form_control">
										<input type="text" name="dealership_name" class="counter_price p-[10px]" placeholder="Dealership Name"><span class="text-[#ba1010bf]">*</span>
									</div>
									<div class="form_control">
										<input type="text" name="name" class="counter_price p-[10px]" placeholder="Name"><span class="text-[#ba1010bf]">*</span>
									</div>
									<div class="form_control">
										<input type="text" name="contact_num" class="counter_price p-[10px]" placeholder="Contact Number"><span class="text-[#ba1010bf]">*</span>
									</div>
									<div class="form_control">
										<input type="text" name="email" class="counter_price p-[10px]" placeholder="Email"><span class="opacity-0">*</span>
									</div>
									<div class="form_control">
										<input type="text" name="asking_price" class="counter_price p-[10px]" placeholder="Enter asking price"><span class="opacity-0">*</span>
									</div>
								</div>
								</div>
							</div>
							</div>
							<div class="modal_body_footer">
							<button type="submit" class="submit_action">Submit</button>

							<button type="button" class="close_counter_offer" onclick="closePriceInq()">Cancel</button>
						</div>
					</form>
				</div>
				</div>
			</div>
		</div>
	</footer>


	<script>
		function showPriceInq(){
			$("#asking_model").removeClass("hidden")
		}

		function closePriceInq(){
			$("#asking_model").addClass("hidden")
		}

		ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];
		

		let chartConfig = {
			type: 'gauge',
			globals: {
				fontSize: '25px',
			},
			plot: {
				tooltip: {
					borderRadius: '5px',
				},
			
				size: '100%',
			},
			plotarea: {
				marginTop: '80px',
			},
			scaleR: {
				aperture: 180,
				center: {
					visible: false,
				},
				item: {
					offsetR: 0,
					rules: [{
						offsetX: '15px',
						rule: '%i == 9',
					},],
				},
				labels: ['Low','','','',  'Good','','','',  'Best'],
				maxValue: 850,
				minValue: 150,
				ring: {
					rules: [{
						backgroundColor: '#9dc3e7',
						rule: '%v <= 200',
					},
					{
						backgroundColor: '#4472c7',
						rule: '%v > 200 && %v < 700',
					},
					{
						backgroundColor: '#1f4e78',
						rule: '%v >= 700',
					},
					],
					size: '50px',
				},
				// step: 50,
				tick: {
					visible: false,
				},
			},
			
			series: [{
				// values: ["<%= @car_detail.pointer.to_i %>"], // starting value
				values: [400], // starting value
                backgroundColor: '#009688',

			
			},],
		};

		zingchart.render({
			id: 'myChart',
			data: chartConfig,
			height: '100%',
			width: '100%',
		});
	</script>
</body>

</html>

<style>
	.asking_price_modal_body_container {
		padding: 35px 30px;
		background-color: #fff;
		max-width: 400px;
		text-align: left;
		display: inline-block;
		width: 100%;
		font-family: "Lato", sans-serif !important;
		font-weight: 400;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		box-shadow: 0 6px 15px #00000029;
		border-radius: 10px;
	}

	.asking_price_modal_body_container .modal_body_top h3#modal-title {
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 10px;
		font-family: "Lato", sans-serif !important;
		color: #000;
	}

	.asking_price_modal_body_container .body_wrapper p.desc {
		font-size: 18px;
		font-weight: 300;
		line-height: 20px;
		margin-bottom: 30px;
		font-family: "Lato", sans-serif !important;
	}

	.asking_price_modal_body_container .body_form {
		border: 1px solid #0095ff00;
		color: #000;
		display: flex;
		align-items: center;
		flex-flow: column;
		width: 100%;
		padding: 6px 20px 6px 12px;
		gap: 5px;
		text-align: left;
		outline: 0;
		border-radius: 6px;
		font-size: 15px;
		font-weight: 300;
		transition: all 0.3s ease;
		margin-bottom: 14px;
		line-height: 1.5;
		overflow: visible;
		margin: 0;
	}

	.asking_price_modal_body_container input#asking_price_model_val {
		height: fit-content;
		padding: 0;
		width: inherit;
		border: 0;
		background-color: #F7F7F7;
	}

	.asking_price_modal_body_container button.submit_action {
		display: inline-block;
		background: #2959ad;
		padding: 10px 20px;
		text-align: center;
		letter-spacing: 0.5px;
		font-size: 14px;
		font-weight: 600;
		border-radius: 5px;
		text-transform: uppercase;
		color: #fff;
		-webkit-transition: all 0.3s;
		-o-transition: all 0.3s;
		transition: all 0.3s;
	}

	.asking_price_modal_body_container .modal_body_footer {
		margin-top: 15px;
		display: flex;
		gap: 15px;
		flex-direction: column;
	}

	.asking_price_modal_body_container button.close_counter_offer {
		background-color: #000000f0;
		color: #fff;
		width: 100%;
		box-shadow: 0 0 0 #50b6ff4f;
		border-radius: 6px;
		border: 0;
		padding: 6px 28px;
		font-size: 14px;
		font-weight: 700;
		text-decoration: none;
		cursor: pointer;
		margin: 0;
		font-family: "Lato", sans-serif !important;
		padding: 10px 20px;
	}

	.form_control {
		display: flex;
		gap: 2px;
		align-items: start;
		width: 100%;
	}
</style>